{%load static%}
    

    <html>

    <head>
		<link rel="stylesheet" href="{% static "registerstyle.css" %}">
        <script src="valid.js"></script>
		<title>Login</title>
    </head>

    <body>

		<div class="header">
			<p class="endtitle" >Customer Login</p>
		</div>
        
		<div class="login" >
			<h2>Enter Information</h2>
			 
			<form id="loginform" name="myform" action="/login_customer/" method="POST">
				{% csrf_token %}
				<input type="text" name="username"  placeholder="Username">
				<input type="password" name="password" placeholder="Password" >
				<input type="submit" value="Submit">      
			</form>
        </div>
	
	</body>

</html>

